<%- include('partials/header') %>

    <div class="content">
        <h1>About Me</h1>
        <div class="profile">
            <img src="./hiba.jpg" alt="Hiba">
            <h2>Hiba Syed</h2>
            <p>
                I am a dedicated and passionate professional with a strong background in computer science. With a strong passion for technology, I am driven to contribute to the development of innovative and groundbreaking software 
                solutions that meet the needs of businesses. I am committed to delivering software that embodies agility, flexibility, and mobility while providing a superior cloud experience to users. I have a keen eye for detail and a strong analytical mindset, which 
                helps me to identify opportunities for improving business efficiency and effectiveness.
            </p>
            <p>Here is a link to my resume:</p>
            <p>
                <a href="./Hiba Resume.pdf" target="_blank">My Resume (PDF)</a>
            </p>
        </div>
    </div>

    <%- include('partials/footer') %>