<%- include('partials/header') %>
    <div class="content">
        <div class="welcome">
            <h1>Welcome to My Portfolio</h1>
        </div>
        <div class="intro">
            <h2>Hiba Syed</h2>
            <div class="mission-card">
                <p>Mission Statement:</p>
                <p>I am a technology enthusiast and I have a keen interest the advancement of technology. I hope to inspire and encourage other women to join the world of technology and help transform the world! </p>
            </div>
            <a class="btn" href="/about">Learn More</a>
        </div>
    </div>
    <%- include('partials/footer') %>








