<%- include('partials/header') %>

    <div class="content">
        <h1>Projects</h1>
        <div class="project">
            <img src="./library.jpg" alt="Project 1">
            <h2>Virtual Library</h2>
            <p>This program obtains new books and stores them into different libraries and displays information on genre, author, and title. You can even search for a book by genre, author or title, and the program can check if it exists in any libraries</p>
        </div>
        <div class="project">
            <img src="./banking.webp" alt="Project 2" height="379px" width="512px">
            <h2>Bank Application</h2>
            <p>The application will allow the user to perform various banking operations such as deposit and withdrawal of money from the bank account. The bank offers two types of accounts: savings account and chequing account. To test the app, the bank consists of predefined list of accounts which are provided in the start-up code.</p>
            
        </div>
        <div class="project">
            <img src="./gym.png" alt="Project 3" height="379px" width="512px">
            <h2>Gym Membership Program</h2>
            <p>The Gym Membership Reservation program is a simple yet efficient tool that allows users to select their desired membership plan and saves their application in a reservation list and displays it for the user to keep track of their reservation.</p>
            
        </div>
    </div>
 <%- include('partials/footer') %>
