<%- include('partials/header') %>

<div class="content">
    <h1>Services</h1>
    <div class="service">
        <img src="./clientside.jpg" alt="Service 1">
        <div class="service-details">
            <h2>Client-Side Programming</h2>
            <p>This client-side programming course is designed to equip students with the skills and knowledge needed to create dynamic and responsive web applications. In this course, participants will learn how to write code that runs directly in the user's web browser, enhancing the user experience and enabling rich interactivity</p>
        </div>
    </div>
    <div class="service">
        <img src="./java.png" alt="Service 2">
        <div class="service-details">
            <h2>Java Programming</h2>
            <p>This Java programming course is designed for individuals who are new to programming or want to expand their skills in the Java language. Throughout the course, students will learn the core concepts of Java, enabling them to write, debug, and maintain Java applications.</p>
        </div>
    </div>
    <div class="service">
        <img src="./data_analysis.jpg" alt="Service 3">
        <div class="service-details">
            <h2>Data Analysis</h2>
            <p>This introductory data analyst course is designed for individuals who want to develop the foundational skills needed to analyze and interpret data effectively. It provides a comprehensive understanding of data analysis techniques, tools, and concepts, making it an ideal starting point for those looking to pursue a career in data analytics or related fields.</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>